@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroylight.woff2') format('woff2'), url('../fonts/Gilroylight.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroyextrabold.woff2') format('woff2'), url('../fonts/Gilroyextrabold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}
/*Шрифт gilroy*/

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans',Arial, sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	background-color: #ffffff;

}
.main-navigation {
	background-color: #f7e296;
	padding-bottom: 165px;
}
.main-navigation-catalog {
	height: 186px;
	padding-bottom: 0;
	margin-bottom: 40px;
}
a {
	text-decoration: none;
}
.user-navigation, .search-form {
	font-size: 15px;
	line-height: 30px;
}
.search-form input[type="search"],
.briefly-conditions ul button[type="button"],
.filter .filter-button {
	background-color: transparent;
	border: none;

}
.briefly-conditions ul button:visited {
	content: "";
	position: absolute;
	width: 200px;
	height: 2px;
	background-color: #000000;
}

.site-navigation, .site-navigation-option,.briefly-conditions ul button[type="button"] {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	letter-spacing: 3.6px;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
}

.site-navigation,
.site-navigation-option,
.user-navigation,
.catalog,
.detailed-description,
.user-footer-navigation,
.footer-conditions-working,
.breadcrumbs,
.color-monopods,
.bluetooth-existence,
.sorting-types,
.catalog-list,
.pagination {
	list-style: none;
}
.site-navigation a,
.site-navigation-option a,
.user-navigation a, 
.catalog a,
.contents a{
	color: #000000;
}
.site-navigation a:hover,
.site-navigation a:focus,
.site-navigation-option a:hover,
.site-navigation-option a:focus,
.user-navigation a:hover,
.user-navigation a:focus,
.catalog a:hover,
.catalog a:focus { 
	opacity: 0.6;
}
.site-navigation a:active,
.user-navigation a:active,
.site-navigation-option a:active,
.catalog a:active { 
	opacity: 0.3;
}

.contents h2 {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: 56px;
	margin: 0;
}
.contents a,
.information a,
.сontacts a,
.briefly-conditions ul li,
.modal-contact .button,
.footer-conditions-working,
.filter .filter-button,
.information .button,
.сontacts .button {
	position: relative;
	z-index: 2;
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	color: #000000;
	letter-spacing: 3.6px;
}
.contents a::before,
.information a::before,
.сontacts a::before,
.briefly-conditions ul li::before,
.modal-contact .button::before,
.filter .filter-button::before {
	position: absolute;
	top: calc(50% - 4px);
	left: 0;
	right: 0;
	z-index: -1;
	content: "";
	height: 8px;
	background-color: #f0c52e;
}


.contents a:hover,
.information a:hover,
.сontacts a:hover,
.modal-contact .button:hover,
.footer-conditions-working a:hover,
.filter-button:hover {
	display: inline-block;
	width: 220px;
	height: 40px;
	background-color: #f0c52e;
	text-align: center;
	line-height: 40px;
}
.contents a:active,
.information a:active,
.сontacts a:active,
.modal-contact .button:active,
.footer-conditions-working a:active,
.filter-button:active {
	display: inline-block;
	width: 220px;
	height: 40px;
	background-color: #f0c52e;
	text-align: center;
	line-height: 40px;
	color: rgba(0,0,0,0.6);
}
.detailed-description li {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 300;
	font-size: 36px;
	line-height: 48px;
}
.detailed-description li span {
	font-family: 'Open Sans',Arial, sans-serif;
	font-weight: 300;
	font-size: 13px;
	line-height: 20px;
}
.catalog-products {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	padding: 0;
	margin: 0;
	margin-bottom: 260px;
	font-size: 18px;
	line-height: 24px;
}

.catalog-products li {
	width: 160px;
	height: 160px;
	background-color: #f7e296;
}
.catalog-products li a {
	display: inline-block;
	transform: translateY(200px);
	color: #000000;
}
.catalog-products li:hover {
	background-color: #f0c52e;
}
.catalog-products li:active {
	background-color: #f0c52e;
	opacity: 0.3;
}

.visual-icon {
	background: url(../img/visual-icon.svg) no-repeat center center;
}
.monopod-icon {
	background: url(../img/monopod-icon.svg) no-repeat center bottom;
}
.camera-icon {
	background: url(../img/camera-icon.svg) no-repeat center center;
}
.bracelet-icon {
	background: url(../img/bracelet-icon.svg) no-repeat center center;
}
.watch-icon {
	background: url(../img/watch-icon.svg) no-repeat center center;
}
.quadcopters-icon {
	background: url(../img/quadcopters-icon.svg) no-repeat center center;
}
.briefly-conditions ul {
	list-style: none;
	padding: 0;
	width: 278px;
}
.briefly-conditions ul::before {
	content: "";
	position: absolute;
	left: 295px;
	top: -55px;
	width: 5px;
	height: 300px;
	background-color: #000000;
}
.briefly-conditions ul li {
	line-height: 40px;
	margin-bottom: 20px;
	width: 160px;
	text-align: center;
}
/*
.briefly-conditions ul .active {
	background-color: #000000;
	color: #f7e184;
}
*/
.contents-conditions {
	margin-left: 120px;
	transform: translateY(-30px);
}

.stils-icon-delivery::after {
	content: "";
	display: inline-block;
	width: 136px;
	height: 164px;
	background: url(../img/delivery.svg) no-repeat right center;
	transform: translate(545px, -180px)
}

.information h2,
.сontacts h2,
.contents-conditions h2,
.content-monopods h1 {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: 48px;
}

.information ul {
	list-style: none;
}
.information ul li {
	font-weight: 800;
}
.cellar-site a{
	color: #ffffff;
}

.sign {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	color: #000000;
	font-size: 48px;
	text-transform: uppercase;
}

.sign:hover {
	opacity: 0.6;
}
.sign:active {
	opacity: 0.3;
}
.user-footer .footer-logo {
	color: #ffc600;
}
.user-footer-navigation a {
	color: #ffffff;
}
.modal-contact {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
}

.modal-contact input[type="text"],
.modal-contact input[type="email"],
.modal-contact textarea {
	font-family: 'Open Sans',Arial, sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 18px;
	background-color: #f2f2f2;
	width: 360px;
	height: 50px;
	padding-left: 10px;
}
.modal-contact textarea {
	width:760px;
	height:156px;
}

.login-form input:focus {
	border-color: #663d15;
}

.login-checkbox:hover,
.login-checkbox:focus {
	color: #663d15;
}
.button {
	padding: 0 45px;
	display: inline-block;
	align-self: flex-start;
}


/*Стилизация Каталога*/
.breadcrumbs a,
.breadcrumbs li,
.sorting-types a {
	font-size: 14px;
	color: #bcbcbc;
}
.filters h2, .sorting h2 {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 3.2px;
	height: 70px;
	margin: 0;
	line-height: 70px;
	position: relative;
}
.filters h2 {
	margin-bottom: 15px;
	background-color: #dbdbdb;
}
.sorting {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 65px;
}
/*
.sorting h2 {
	background-color: #efefef;
	background-color: #dbdbdb;
}
*/
.filter legend {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
}
.filters {
	width: 35%;
	background-color: #efefef;
	margin-top: 0;
}
.filters::before {
	content: "";
	width: inherit;
	height: 70px;
	background-color: #dbdbdb;
	position: absolute;
}
.filters-container {
	width: 288px;
	height: 1287px;
	margin-left: auto;
}
.catalog-item {
	padding-bottom: 40px;
}
.catalog-item:nth-child(odd) {
	margin-right: -20px;
	box-sizing: border-box;
}
.catalog-item h3 {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 18px;
}
.price {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 300;
	font-size: 16px;
}
.pagination {
	display: flex;
	background-color: #ebebeb;
	justify-content: center;
	padding: 0;
}
.pagination li {
	display: inline-block;
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 16px;
	letter-spacing: 3.2px;
	text-transform: uppercase;
	padding: 20px;
}
.pagination li:first-child {
	margin-right: auto;
}
.pagination li:last-child {
	margin-left: auto;
}

/* ----- Сеточные стили ----- */


.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
}

.main-header {
	margin-top: 40px;
}

.user-navigation {
	display: flex;
	flex-direction: row;
	margin: 0;
	margin-left: auto;
	padding: 0;
	width: 540px;
}

.user-navigation li:first-child {
	margin-right: auto;
}
.user-navigation li:last-child {
	margin-left: 60px;
}


.search-user-navigation {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0 60px;
	padding-bottom: 50px;

}
.site-navigation {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0 60px;
}
.site-navigation-option {
	display: flex;
	flex-direction: row;
	margin: 0;
	margin-left: auto;
	padding: 0;
	width: 540px;
}
.site-navigation-option li:first-child {
	margin-right: auto;
}
.site-navigation-option li:last-child {
	margin-left: 110px;
}
.header-logo {
	display: inline-block;
	transform: translate(60px,-15px);
}
.slide {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0;
	padding: 0 60px;
	margin-top: -100px;
	padding-bottom: 105px;
}

.contents {
	display: flex;
	flex-direction: column;
	width: 540px;
	padding-top: 70px;
}
.contents p {
	padding-bottom: 55px;
}
.description {
	display: flex;
	flex-direction: row;
	padding-bottom: 40px;
}
.description a {
	padding: 0 45px;
	line-height: 1.7;
}
.slide-radio {
	margin-left: auto;
	margin-right: 20px;
}
.slide-radio input {
	margin-left: 20px;
}
.slide-radio label {
	font-size: 0;
	line-height: 0;
}
.detailed-description {
	display: flex;
	padding-left: 0;
	flex-direction: row;
	justify-content: space-between;
	padding-right: 55px;
}
.detailed-description li {
	display: flex;
	flex-direction: column;
}
.conditions {
	width: 100%;
	height: 288px;
	background-color: #e5e5e5;
	margin-bottom: 95px;
}
.conditions-working {
	display: flex;
	flex-direction: row;
	transform: translateY(-35px);
}
.partners {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 150px;
}
img[src*="logo-"] {
	filter: grayscale(100%);
	opacity: 0.2;
}
.partners a img:hover {
	opacity: 1;
	filter: none;
}
.information-contacts {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 90px;
}
.information p {
	padding-bottom: 40px;
}
.information ul li {
	padding-bottom: 20px;
}
.information ul {
	padding-bottom: 80px;
}
.сontacts {
	display: flex;
	flex-direction: column;
}
.сontacts p{
	padding-bottom: 60px;
	margin: 0;
}
.сontacts img {
	padding-bottom: 135px;
}
.main-footer {
	width: 100%;
	background-color: #464646;
	color: #ffffff;
	height: 323px;
}
.main-footer-catalog {
	height: 286px;
}
.footer-logo {
	display: inline-block;
	transform: translateY();
}
.cellar-site {
	display: flex;
	flex-direction: column;
}
.user-footer {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	padding-top: 65px;
}
.user-footer-catalog {
	padding-top: 25px;
}
.user-footer-navigation {
	margin-left: auto;
	display: flex;
	flex-direction: row;
}
.user-footer-navigation li {
	padding-left: 50px;
}
.user-footer-navigation li:nth-child(2) {
	padding-left: 30px;
}
.footer-conditions {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 50px;
}
.footer-conditions-working {
	display: flex;
	flex-direction: row;
	padding-left: 0;
}
.footer-conditions-working li {
	padding: 0 15px;
}
.footer-social {
	display: flex;
	justify-content: space-between;
	font-size: 0;
	line-height: 0;
	
}
.footer-social::before {
	content: "";
	width: 80px;
	height: 7px;
	background-color: #ffc600;
	position: relative;
	top: 15px;
}
.social-networks {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.social-networks a {
	padding: 0 15px;
}
.page-title {
	padding: 0 60px;
}
.breadcrumbs {
	padding: 0 60px;
	display: flex;
}
.breadcrumbs li:not(:first-child) {
	padding-left: 40px;
}
.selection-product {
	display: flex;
}
.sorting-types {
	display: flex;
	margin: 0;
}
.display {
	margin: 0;
}
.sorting-catalog {
	width: 65%;
	padding-right: 0;
}
.sorting-catalog-container {
	width: 762px;
	padding-left: 50px;

}
.selection-product::before {
	content: "";
	width: 100%;
	height: 70px;
	background-color: #ebebeb;
	position: absolute;
	z-index: -1;
}
.catalog-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-left: 0;
}
.catalog {
	
}
.filter {
	position: relative;
}
.filter fieldset {
	border: none;
	padding: 0;
}
.filter fieldset legend {
	padding-top: 20px;
}
.filter fieldset legend::before {
	content: "";
	position: absolute;
	width: 200px;
	height: 2px;
	background-color: #000000;
}
.about-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}