@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroylight.woff2') format('woff2'), url('../fonts/Gilroylight.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroyextrabold.woff2') format('woff2'), url('../fonts/Gilroyextrabold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}
/*Шрифт gilroy*/

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans',Arial, sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	background-color: #ffffff;

}
.main-navigation {
	background-color: #f7e296;
	font-size: 18px;
	line-height: 24px;
	height: 300px;
}
a {
	text-decoration: none;
}
.user-navigation, .search-form {
	font-size: 15px;
	line-height: 30px;
}
.search-form input[type="search"] {
	background-color: transparent;
	border: none;
}

.site-navigation {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	letter-spacing: 3.6px;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
}

.site-navigation,
.user-navigation,
.catalog,
.detailed-description,
.user-footer-navigation,
.footer-conditions-working,
.breadcrumbs,
.color-monopods,
.bluetooth-existence,
.sorting-types,
.catalog-list,
.pagination {
	list-style: none;
}
.site-navigation a,
.user-navigation a, 
.catalog a,
.contents a{
	color: #000000;
}
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus,
.catalog a:hover,
.catalog a:focus { 
	opacity: 0.6;
}
.site-navigation a:active,
.site-navigation a:active,
.user-navigation a:active,
.user-navigation a:active,
.catalog a:active,
.catalog a:active { 
	opacity: 0.3;
}

.contents h2 {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: 56px;
	margin: 0;
}
.contents a,
.information a,
.сontacts a,
.modal-contact .button,
.footer-conditions-working,
.filter-button {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	color: #000000;
	letter-spacing: 3.6px;
	background: url("../img/layer7.png") no-repeat center center;
}
.contents a:hover,
.information a:hover,
.сontacts a:hover,
.modal-contact .button:hover,
.footer-conditions-working a:hover,
.filter-button:hover {
	display: inline-block;
	width: 220px;
	height: 40px;
	background-color: #f0c52e;
	text-align: center;
	line-height: 40px;
}
.contents a:active,
.information a:active,
.сontacts a:active,
.modal-contact .button:active,
.footer-conditions-working a:active,
.filter-button:active {
	display: inline-block;
	width: 220px;
	height: 40px;
	background-color: #f0c52e;
	text-align: center;
	line-height: 40px;
	color: rgba(0,0,0,0.6);
}

.footer-conditions-working {
	background: transparent;
}
.detailed-description li {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 300;
	font-size: 36px;
	line-height: 48px;
}
.detailed-description li span {
	font-family: 'Open Sans',Arial, sans-serif;
	font-weight: 300;
	font-size: 13px;
	line-height: 20px;
}
.catalog-products {
	list-style: none;
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
}

.catalog-products li {
	width: 160px;
	height: 160px;
	background-color: #f7e296;
	font-size: 18px;
	line-height: 24px;
	margin: 10px;
}
.catalog-products li:hover {
	background-color: #f0c52e;
}
.commodity:active {
	background-color: #f0c52e;
	opacity: 0.3;
}

.visual-icon {
	background: url(../img/visual-icon.svg) no-repeat center center;
}
.monopod-icon {
	background: url(../img/monopod-icon.svg) no-repeat center bottom;
}
.camera-icon {
	background: url(../img/camera-icon.svg) no-repeat center center;
}
.bracelet-icon {
	background: url(../img/bracelet-icon.svg) no-repeat center center;
}
.watch-icon {
	background: url(../img/watch-icon.svg) no-repeat center center;
}
.quadcopters-icon {
	background: url(../img/quadcopters-icon.svg) no-repeat center center;
}

.conditions-working {
	background-color: #e5e5e5;
}
.briefly-conditions ul {
	list-style: none;
}
.briefly-conditions ul li {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 3.6px;
	width: 278px;
	height: 40px;
	vertical-align: middle;

}
.briefly-conditions ul .active {
	background-color: #000000;
	color: #f7e184;
}
.contents-conditions {
	height: auto;
}

.stils-icon-delivery {
	background: url(../img/delivery.svg) no-repeat right center;
}
.partners {
	opacity: 0.2;
}
.information h2,
.сontacts h2,
.contents-conditions h2,
.content-monopods h1 {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: 48px;
}

.information ul {
	list-style: none;
}
.information ul li {
	font-weight: 800;
}
.cellar-site {
	background-color: #464646;
	color: #ffffff;
	/*Временные значения*/
	width: auto;	
	height: auto;
	/*Временные значения*/
}
.cellar-site a{
	color: #ffffff;
}

.sign {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	color: #000000;
	font-size: 48px;
	text-transform: uppercase;
}

.sign:hover {
	opacity: 0.6;
}
.sign:active {
	opacity: 0.3;
}
.user-footer .footer-logo {
	color: #ffc600;
}
.user-footer-navigation a {
	color: #ffffff;
}
.user-footer-navigation li {
	text-align: right;
}
.footer-conditions-working li, .footer-social {
	text-align: center;
}
.modal-contact {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
}

.modal-contact input[type="text"],
.modal-contact input[type="email"],
.modal-contact textarea {
	font-family: 'Open Sans',Arial, sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 18px;
	background-color: #f2f2f2;
	width: 360px;
	height: 50px;
	padding-left: 10px;
}
.modal-contact textarea {
	width:760px;
	height:156px;
}

.login-form input:focus {
	border-color: #663d15;
}

.login-checkbox:hover,
.login-checkbox:focus {
	color: #663d15;
}
.modal-contact .button,
.filter-button {
	background: transparent;
	border:none;
	background: url("../img/layer7.png") no-repeat center center;
}



/*Стилизация Каталога*/
.breadcrumbs a,
.breadcrumbs li,
.sorting-types a {
	font-size: 14px;
	color: #bcbcbc;
}
.filters h2, .sorting h2 {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 3.2px;
}
.filters h2{
	width: 468px;
	height: 70px;
	background-color: #dbdbdb;
}
.filter legend {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
}
.filters {
	width: 468px;
	height: 1287px;
	background-color: #efefef;
}
.catalog-item h3 {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 18px;
}
.price {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 300;
	font-size: 16px;
}
.pagination {
	width: 760px;
	background-color: #ebebeb;
	text-align: center;
	line-height: 70px;
}
.pagination li {
	display: inline-block;
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 16px;
	letter-spacing: 3.2px;
	text-transform: uppercase;
}

/* ----- Сеточные стили ----- */

html,
body {
	min-width: 1440px;
	min-height: 2795px;
}
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header {
	margin-top: 40px;
}

.user-navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	width: 500px;
}
.user-navigation li {
	width: 100px;
}
.user-navigation li:nth-child(2) {
	margin-left: 180px;
}
.user-navigation li:last-child {
	margin-left: 20px;
	text-align: right;
}

.search-user-navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0;
	padding: 0 60px;
	width: 1040px;
	padding-bottom: 50px;

}
.site-navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
	padding: 0 60px;
	width: 1040px;
	padding-bottom: 165px;
}
.site-navigation-option {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	width: 500px;
}
.site-navigation-option li {
	width: 140px;
}
.site-navigation-option li:last-child {
	margin-left: 60px;
	text-align: right;
}
.site-navigation-option li:nth-child(2) {
	margin-left: 20px;
}
.header-logo {
	display: inline-block;
	margin-left: 60px;
	margin-top: -10px;
	margin-bottom: 35px;
}
.slide {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0;
	padding: 0 60px;
	width: 1040px;
	margin-top: -100px;
}
.description {
	
}
.picture {
	width: 440px;
}
.contents {
	display: flex;
	flex-direction: column;
	width: 540px;
	padding-top: 70px;
}
.contents p {
	width: 480px;
}
.description {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 480px;
}
